.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-card {
    width: 400px;
    height: 300px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    h3 {
      text-align: center;
      color: #6d32db;
    }
    .mat-card-content {
      .mat-form-field {
        width: 100%;
      }
    }
    .submit {
      color: #6d32db;
    }
  }

}
